.chat-box{
    border-radius: 12px;
    
}
.chat-page{
    margin: 0 auto;
    min-height: 10rem;
    background-color: var(--color-black);
}
/* src/Chat.css */

.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-black);
    padding: 20px;
  }
  
  .chat-box {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    padding: 10px 15px;
    border-radius: 20px;
    margin: 5px 0;
    max-width: 80%;
    word-wrap: break-word;
    
  }
  
  .message.own {
    align-self: flex-end;
    background-color: white;
    font-weight: 900;
    color: black;
    text-transform: capitalize;
  }
  
  .message:not(.own) {
    align-self: flex-start;
    background-color: white;
    font-weight: 900;
    color: black;
    text-transform: capitalize;
  }
  
  form {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    
    color: var(--color-yellow);
    cursor: pointer;
    font-weight: bolder;
  }
  
  button:hover {
    background-color: var(--color-brown);
  }
  
  .waiting {
    text-align: center;
    font-size: 1.2rem;
  }
  /* src/pages/Chat.css */



/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.fade-in {
  animation: fade-in 0.5s ease-in-out;
}

.slide-in-left {
  animation: slide-in-left 0.5s ease-in-out;
}

.slide-in-right {
  animation: slide-in-right 0.5s ease-in-out;
}

.waiting {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #555;
}

.waiting p {
  margin-bottom: 20px;
  font-size: 16px;
}


/* Media query pour téléphones */
@media screen and (max-width: 768px) {
  .chat-container {
   width: 100%;
   padding: 0;
  }
  .chat-box {
      width: 100%; /* Prend toute la largeur de l'écran */
      height: calc(100vh - 2rem); /* Occupe presque toute la hauteur de l'écran */
      border-radius: 0; /* Supprime les coins arrondis pour un design épuré */
  }

  .messages {
      padding: 5px;
  }

  form {
      padding: 5px;
  }

  input[type="text"] {
      margin-right: 5px;
  }

  button {
      padding: 8px 15px;
  }
}